/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.sticky-header-lesson{
    margin-top: 200px;
}

.sticky-header{
    background: hsla(160, 70%, 60%, 90%);
    position: fixed;
    top: 0;
    height: 130px;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 10px hsla(160, 70%, 30%, 90%);
}

.sticky-header h1{
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin: 0 auto;
}

.sticky-header h1 small{
    font-size: 2rem;
}